.cardContainer{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* padding-top: 60px; */
}

.cardContainer2{
    /* width: 300px; */
    /* height: 600px; */
    padding: 20px;
    /* border: none !important; */
}

.imageContainer{

    
    /* background-color: #e8e8e8 ; */
}

.imageContainer img{
    border-radius: 20px;

}






.infoContainer{
    width: 800px;
    height: 600px;
    /* padding-left: 40px; */
}



.logoContainer{
    margin: 20px;
    /* width: 100px;
    height: 20px; */
}

.logoContainer img{
    margin: 10px;
    width: 100px;
    /* height: 50px; */
}


